<footer>
  <hr>

  <p>
    dependency-management-data is a project from <a href="https://www.jvt.me">Jamie Tanna</a>, which is licensed under
    the <a href="https://spdx.org/licenses/Apache-2.0.html">Apache 2.0 license</a>. Site is built with <a
      href=https://gohugo.io />Hugo</a> and <a href="https://classless.de/">Classless.css</a>.
  </p>

  Additional links that may be of interest:

  <ul>
    {{ range .Site.Menus.footer }}
    <li>
      <a class="nav-link" href="{{ .URL }}">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
</footer>
