<!DOCTYPE html>
<html data-theme=dark>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}

        {{- partial "scripts.html" . -}}
    </body>
</html>
