{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ if ne "<nav id=\"TableOfContents\"></nav>" .TableOfContents }}
<aside>
    <strong>Table of contents</strong>
    {{ .TableOfContents }}
</aside>
{{ end }}

{{ .Content }}
{{ end }}
